@import url("https://fonts.googleapis.com/css2?family= Inter:wght@300;400 & display =swap");

#menusuperior {
  background-image: url(/imagens/fundo.svg);
  color: white;
  background-size: cover;
}
* {
  margin: 0%;
  color: white;
  font-family: "Inter", sans-serif;
}

#logo {
  margin: 50px 0px 0px 75px;
}

#titulo-menusuperior {
  margin: 35px 0px 0px 175px;
}
#texto-menusuperior {
  margin: 27px 0px 0px 175px;
  padding-bottom: 100px;
}
/*menu informacional*/
#menuinformacional {
  background-color: #eaece5;
  display: grid;
  grid-auto-flow: column;
  columns: auto;
}
#menuinformacional p {
  color: black;
}

.icone {
  margin: 50px 0px 50px 100px;
  padding: 25px;
}
.textoinformativo {
  display: flex;
  align-items: center;
}

/*seção de video*/

#secaovideo {
  display: grid;
  grid-auto-flow: column;
  columns: auto;
}
#titulovideo {
  color: #247ba0;
}
#textovideo {
  color: black;
}
#video {
  margin: 50px 25px 50px 130px;
}
#videosecao {
  margin: 70px 70px 65px 25px;
}
/*seção de cars*/

#secaocards {
  background-color: #247ba0;
  padding: 50px;
}
#titulocard {
  text-align: center;
  font-size: 25px;
  color: white;
}
.card {
  margin-top: 25px;
  display: grid;
  grid-auto-flow: column;
}
.div-card {
  margin-left: 55px;
}
#bruna {
  display: none;
}
#seta-esquerda {
  display: none;
}

.seta {
  margin-top: 55%;
  cursor: pointer;
}
.seta:hover {
  transform: translatey(-7px);
  transition-duration: 0.6s;
}
/*formulario*/

#formulario {
  text-align: center;
}
#titulo-formulario {
  margin: 25px;
  font-size: 25px;
  color: #383838;
}

input {
  height: 43px;
  width: 300px;
  margin: 25px;
  background-color: #eaece5;
  border-radius: 5px;
  border: 0px;
  padding-left: 10px;
  color: black;
}
button{
width: 250px;
height: 43px;
background-color: #247ba0;
border: 0px;
border-radius: 5px;
font-weight: bolder;
margin: 0px 0px 40px 0px;
cursor: pointer;
}
button:hover{
background-color: #318db5;
transform: translatey(-7px);
color: #eaece5;
box-shadow: 0px 15px 20px #193a66;
transition: 0.5s;
}
